
<nav class="text-center">
    <a asp-action="Index">Home</a> |
    <a asp-action="DishView">Dishes</a> |
    <a asp-action="ChefForm">Add A Chef</a> |
    <a asp-action="DishForm">Add a Dish</a>
</nav>